target/
bin/
.metadata/

*.class
*.log

.idea/
.vscode/

.DS_Store

spring.log

.mvn/wrapper/maven-wrapper.jar
database/.env
.env

# Archivos de IDE (Eclipse e IntelliJ)
.classpath
.project
.settings/
*.iml

# Python
__pycache__/
*.pyc
